// Define variables for your color scheme

$light-yellow : #FFCB10;
$dark-green : #164600;
$pale-yellow : #FDEED8;
$black : #000000;
$white: #FFFFFF;

// couleur de bootstrap à virer au fur et à mesure
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
