.image_poussin {
  margin-top: 40px;
  border: 15px solid white;
  border-radius: bold;
  background-color: white;
  background-size: 60px;
  border-radius: 50%;
  margin-bottom: 3rem;
}
.background_dash {
  height: 200px;
  background-color: $pale-yellow;
  margin-bottom: 100px;
}

.presentation {
  ul {
    display: flex;
    justify-content: space-between;
    padding: 0px 36%;
  }

  li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    font-size: 16px;
  }
}

.birdy-tag {
  width: 20%;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
  color: black;
}

.nav-link {
  border-radius: 0px !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  color: black;
}

.nav-link:hover {
  color: $dark-green;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.category-selector:checked + label {
  color: white !important;
}

.edit_user legend {
  display: none;
}

.bg-HibouCurieux {
  background-image: url("hibou.jpg");
}
.bg-ToucanNomade {
  background-image: url("toucan.jpg");
}

.bg-PoussinBaroudeur {
  background-image: url("poussin.jpg");
}

.bg-SuperAigle {
  background-image: url("aigle.jpg");
}
