.image_poussin {
  margin-top: 40px;
  border: 15px solid white;
  border-radius: bold;
  background-color: white;
  background-size: 60px;
  border-radius: 50%;
  margin-bottom: 3rem;
}
.background_dash {
  height: 200px;
  background-color: $pale-yellow;
  margin-bottom: 100px;
}

.presentation {
  ul {
    display: flex;
    justify-content: space-between;
    padding: 0px 36%;
  }

  li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    font-size: 16px;
  }
}

.birdy-tag {
  width: 20%;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
  color: black;
}

.nav-link {
  border-radius: 0px !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  color: black;
}

.nav-link:hover {
  color: $dark-green;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  // width: 100%;
  text-align: left;
  background-color: white;
  // border: 1px solid white;
  border-radius: 10px;
  margin: 0 4rem;
  border: 2px solid lightgray;
  border-radius: 16px;
  padding: 1rem;
}

.category-selector:checked + label {
  border: 2px solid pink !important;
}

.change legend {
  display: none;
}

.change .form-check {
  margin-left: 0 !important;
  padding-left: 0;
}

.bg-hibou {
  background-image: url("hibou.jpg");
}

.bg-toucan {
  background-image: url("toucan.jpg");
}

.bg-poussin {
  background-image: url("poussin.jpg");
}

.bg-aigle {
  background-image: url("aigle.jpg");
}

.modal-title {
  margin: 10px 45px 10px 45px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 750px !important;
  }
}

.bg-category {
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 1px solid lightgray;
  border-radius: 50%;
  padding: 2rem;
}

.button {
  border-radius: 45px;
  background-color: $light-yellow;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  :hover {
    color: white;
  }
}

.button:hover {
  color: white;
}

.button-modal:hover {
    color: white;
  }

form.simple_form.change {
  display: flex;
  flex-direction: column;
  .button {
    margin: 0 auto;
  }
}

li.nav-item {
  text-align: center;
}

ul#myTab {
  margin-top: 60px;
  align-items: flex-end;
  justify-content: space-evenly;
}
