// Specific CSS for your home-page
p {
  color: $dark-green;
}

button {
  border-radius: 45px;
  background-color: $light-yellow;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  a {
    text-decoration: none;
    color: black;
  }
}

.text-justify {
  display: flex;
  justify-content: center;

  p {
    width: 50%;
    text-align: justify;
    margin-top: 20px;
  }
}


.arguements {
  h1 {
    font-family: 'Inspiration', cursive;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  h2 {
    color: $light-yellow;
    margin-bottom: 25px;
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
  }
}

.trip_exemples {
  background-color: $pale-yellow;
  padding: 50px;

  h2 {
    font-family: 'Inspiration', cursive;
  }
  h1 {
    color: $dark-green;
  }
  p {
    color: black;
  }
}

.carousel {
  height: 250px;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.carousel-item.active {
  display: flex;
  justify-content: center;
}

.carousel-item p {
  width: 60%;
}

.card-trip {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  grid-column-gap: 3rem;
}

.birdy-carousel {
  background-color: $pale-yellow;
  padding: 50px 20px 20px 20px;
}
