// Specific CSS for your home-page
p {
  color: $dark-green;
}

button {
  border-radius: 45px;
  background-color: $light-yellow;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  a {
    text-decoration: none;
    color: black;
  }

  :hover {
    color: white;
  }
}

.button-index:hover {
  color: white;
}

.btn.btn-primary.btn-search:hover {
  color: white;
}


.text-justify {
  display: flex;
  justify-content: center;

  p {
    width: 50%;
    text-align: justify;
    margin-top: 20px;
  }
}


.arguements {
  margin-bottom: 109px !important;
  margin-top: 109px !important;

  h1 {
    font-family: 'Inspiration', cursive;
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 33px;
  }

  h2 {
    color: $light-yellow;
    margin-bottom: 67px;
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    font-size: 16px;
  }
}

.trip_exemples {
  background-color: $pale-yellow;
  padding: 50px;
  h2 {
    font-family: 'Inspiration', cursive;
    font-size: 50px;
    padding-top: 25px;
  }
  h1 {
    color: $dark-green;
  }
  p {
    color: black;
    font-size: 13px;
  }
}


.birdy-carousel {

  .carousel {
    height: 250px;
    padding: 44px;
    display: flex;
    justify-content: center;
  }

  .carousel-item.active {
    display: flex;
    justify-content: center;
  }

  .carousel-item p {
    width: 60%;
    font-size: 16px;
  }
}

.card-trip {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  grid-column-gap: 3rem;
}

.birdy-carousel {
  background-color: $pale-yellow;
  padding: 50px 20px 20px 20px;
}

.birdy-carousel .carousel {
  margin-bottom: -70px;
}

.carousel-photo .carousel-inner {
  height: 50vh;

  img {
    object-fit: cover;
    height: 50vh;
    width: 100%;
  }

  .carousel-item {
    height: 50vh;
  }
}

.rating-stars ul {
  list-style: none;
}

.birdy-experiences {
  h2 {
    margin-bottom: 32px;
    margin-top: 9px;
    font-weight: bold;
    font-size: 27px;
    color: $dark-green
  }
  p {
    color: black;
    margin-bottom: 41px;
  }
}

.why-choose-us {
  h1 {
    font-size: 44px;
    color: black;
  }
  h2 {
    font-weight: bold;
    font-size: 27px;
  }
}

.trip-ex-left-btn {
  margin-top: 26px;
}
