
#bouton-profil {
  border-radius: 45px;
  background-color: $light-yellow;
  border: none;
  color: black;
  padding: 15px 39px;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 150px;
  a {
    text-decoration: none;
    color: black;
  }
  :hover {
    color: white;
  }
}


#bouton-un {
  background-color: green;
}

#bouton-deux {
  background-color: rgba(93, 54, 54, 0.898);
}

#bouton-trois {
  background-color: rgb(4, 213, 232);
}

#bouton-quatre {
  background-color: rgb(213, 15, 160);
}

h2 {
  font-size: 26px;
}

.localisation {
  font-size: 8px;
  color: grey;
}

span {
  color: #FDC850;
}
