<div class="bg-primary p-5">
  <div class="bg-<%= category.name.delete(' ') %>" style="width: 100px; height: 100px; border-radius: 50%;"></div>
  <%= category.name %>
  <%= category.description %>
  <% category.tags.each do |t| %>
  <p><%= t.name %></p>
  <% end %>
</div>
