.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 0px;
  height: 550px;

  h2 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 36px;
    margin-bottom: 10px;
  }

  p {
   font-size: 24px;
   color: #e7e6d2;
   opacity: .7;
   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .btn {
   background-color: $light-yellow;
   border: $light-yellow;
  }

  .form-control {
    border: none;
    border-radius: 45px;
    margin-top: 20px;
    padding-left: 30px;
  }
}


.banner .btn {
  border-radius: 45px;
  background-color: $light-yellow;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;

  a {
    text-decoration: none;
    color: black;
  }

  :hover {
    color: white;
  }
}

#capsule-video {
  position: absolute;
  top: 0;
  left: 0;
  // object-fit: cover;
  // height: 100%;
  // width: 100%;
}

.video-wrapper {
  /* Telling our absolute positioned video to
  be relative to this element */
  position: relative;

  width: 100%;

  /* Will not allow the video to overflow the
  container */
  overflow: hidden;

  /* Centering the container's content vertically
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner-text {
  position: relative;
}
