.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    // overflow: scroll;
    overflow: auto;
    padding: 1rem;
  }

  #new_message {
    // border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}



.message.sender {
  .message-infos {
  flex-direction: row-reverse;
  }
  .message-content {
  flex-direction: row-reverse;
  }
}

.message {
  margin-bottom: 8px;
  .message-infos {
  display: flex;
  align-items: center;
  margin: 0 4px;
  font-size: 0.75rem;
  color: rgb(200, 200, 200);
   p {
    margin: 0;
    }
  }

  .message-avatar {
    height: 35px;
    width: 35px;
    object-fit: cover;
    object-position: center;
    border: 1px rgb(200, 200, 200) solid;
    border-radius: 50%;
    margin: 0 4px;
  }

  .message-content {
    display: flex;
    p {
      width: auto;
      max-width: 33%;
      margin: 0;
      border: 1px rgb(200, 200, 200) solid;
      padding: 3px 16px;
      border-radius: 5px;
      }
    }
  }

  #message-send-area {
    border: 1px solid black;
    flex-grow: 1;
  }

  #message-send-area-button {
    margin-left: 10px;
  }
