.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s all ease;
  position: fixed;
  width: 100%;
  color: white;
  z-index: 1;
  border-bottom: solid 0.5px white;

  a.dropdown-item {
    color: black;
  }

  .dropdown-menu.dropdown-menu-end.show {
    border-radius: 10px;
  }

  a {
  color: white;
  }

  .nav-link {
    font-size: 20px;
  }

  .nav-item a:hover {
    color: black !important;
  }
}

.navbar-lewagon-white {
  background-color: white;
  color: black;

  .navbar-brand {
    filter: invert(1);
  }
  .logo {
    filter: invert(1);
  }
}
.navbar-lewagon-white a {
  color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#not_transparent {
  .navbar-lewagon {
    background-color: transparent;
    color: black;
  }
  .navbar-lewagon-white {
    background-color: white;
    color: black;

    .navbar-brand {
      filter: invert(0);
    }

    .logo {
      filter: invert(0);
    }
  }
  .navbar-lewagon-white a {
    color: black;
  }
  .navbar-lewagon a {
    color: black;
  }
}

.heart-size {
  font-size: 26px;
}
