.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s all ease;
  position: fixed;
  width: 100%;
  color: white;
  z-index: 1;
  border-bottom: solid 0.5px white;

  a.dropdown-item {
    color: black;
  }

  .dropdown-menu.dropdown-menu-end.show {
    border-radius: 10px;
  }

  a {
  color: white;
  }

  .nav-link {
    font-size: 20px;
  }

  .nav-item a:hover {
    color: black !important;
  }
}

.navbar-lewagon-white {
  background-color: white;
  color: black;

  .navbar-brand {
    filter: invert(1);
  }
  .logo {
    filter: invert(1);
  }
}
.navbar-lewagon-white a {
  color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#not_transparent {
  .navbar-lewagon {
    background-color: transparent;
    color: black;
  }
  .navbar-lewagon-white {
    background-color: white;
    color: black;

    .navbar-brand {
      filter: invert(0);
    }

    .logo {
      filter: invert(0);
    }
  }
  .navbar-lewagon-white a {
    color: black;
  }
  .navbar-lewagon a {
    color: black;
  }
}

.heart-size {
  font-size: 26px;
}

.offcanvas {
  --bs-offcanvas-width: 900px;
  overflow: scroll;
}
.image_arbre {
  width: 100%;
}
.offcanvas-body {
  overflow-y:initial;
}
.offcanvas-title {
  font-size: 27px;
  color:black;
  font-weight: bold;
  margin-left: 32px;
}
.btn_empreinte {
  background:$light-yellow !important;
  border: none !important;
  border-radius: 50px;
  font-size: 14px;
  margin: 0.5rem 0.5rem 0.5rem 0;
  -webkit-animation: bounce 1.0s infinite;
  &:hover {
    -webkit-animation: none;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(1,1) translate(0px, 0px);
  }

  30%{
    transform: scale(1,0.8) translate(0px, 10px);
  }

  75%{
    transform: scale(1,1.1) translate(0px, -25px);
  }

  100% {
    transform: scale(1,1) translate(0px, 0px);
  }
}

// #not_transparent .wrapper {
//   position: relative;
// }

#footprint .btn_empreinte {
  // transform: translate(-50%, -50%);
  position: fixed;
  top: 85vh;
  right: 2rem;
  border: 2px solid white !important;
}
