.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}
.mission-content-container > div {
  padding: 0 8rem !important;
}
.jour_par_jour > p {
  color:black ;
  // margin-left: 50px;
}

.jour_par_jour_text h3 {
  color: $light-yellow;
  font-size: 25px;

}

h1 {
  font-size: 27px;
  color: $dark-green;
  font-weight: bold;
}

.size-duration {
  font-size: 17px;
  color: $dark-green;
  font-weight: bold;
}


.experience p {
  color: black;
}

.impact_local p {
  color: black;
}

.impact_local img {
  width: 300px;
  display: block;
  margin: auto;
}

#infos-voyage  p {
  color:black;
}

#formulaire{
  border: solid 1px;
  border-radius: 20px;
  h2 {
    font-size: 20px;
    text-align: center;
  }
  h5 {
    font-size: 15px;
  }
  #show-price {
    font-size: 25px;
    font-weight: bold;
  }
}

#formulaire .btn{
  background-color: $light-yellow;
  border: none;
  border-radius: 10px;
  color: black
}

#formulaire .btn:hover{
  background-color: $light-yellow;
  border: none;
  border-radius: 10px;
  color: white
}

.form-control {
  border: none;
}

.booking_start_date {
  margin: 0px !important;
}

.booking_end_date {
  margin: 0px !important;
}



#top-description{
  top: 60px;
  background-color: white;
  h1 > u {
    margin-left: 14px;
  }
}

.nav-link {
  border-radius: 0px !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}

#show p {
  font-size: 16px;
}

#show h3 {
  color: $light-yellow;
}

#top-description-p {
  color: black;
  margin-top: 26px;
  margin-right: 79px;
  text-align: justify;
}

#show .date-trip-left {
  border: 1px solid grey;
  border-radius: 5px 0 0 5px;
  p {
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 0px;
    color: black;
  }
}

#show .date-trip-right {
  border: 1px solid grey;
  border-radius: 0 5px 5px 0;
  p {
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 0px;
    color:black
  }
}
